---
---

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="{{ site.baseurl }}/">The Lost Bronze Heads</a>
            <a href="{{ site.baseurl }}/dragon">The dragon Head</a>
            <a href="{{ site.baseurl }}/snake">The snake Head</a>
            <a href="{{ site.baseurl }}/horse">The horse Head</a>
            <a href="{{ site.baseurl }}/goat">The goat Head</a>
        </nav>
        {{ content }}
    </div>
</body>

